<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
</head>
<body>
<div class="container" id="app">
    <div class="col-md-4 col-lg-6 offset-lg-3 offset-md-4">
        <div v-if="ready">
            <h4>{{ name }}</h4>
            <p v-for="item in info">
                <small>{{ item.name }} {{ item.type }}</small>
            </p>
        </div>
        <form @submit.prevent="setName" class="mt-4" v-else>
            <div class="form-group row">
                <label>Set Your Name First</label>
                <input type="text" class="form-control col-9" v-model="name" placeholder="Type Here">
                <input type="submit" value="Add" class="btn btn-sm btn-info ml-1 col-2">
            </div>
        </form>
        <div class="card bg-info" v-if="ready" >
<!--            <div class="card-header text-white">-->
<!--                Alladin Chats-->
<!--                <span class="float-right">{{ connectionCount }} connections, {{ online.length }} Online</span>-->
<!--            </div>-->

            <ul class="list-group list-group-flush text-right">
                <small v-if="isTyping" class="text-white">
                    <i>{{ isTyping }} is typing</i>
                </small>
                <li class="list-group-item" v-for="message in chats">
                        <span :class="{'float-left':(message.type===1)}">
                            {{ message.message }}
                            <small>:{{ message.by }}</small>
                        </span>
                </li>
            </ul>

            <div class="card-body">
                <form @submit.prevent="sendSms">
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="text" placeholder="Type Here">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">send</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.prod.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    const app = Vue.createApp({
        el: '#app',
        data() {
            return {
                text: '',
                chats: [],
                isTyping: false,
                ready:false,
                userinfo : {},
                name:''
            }
        },
        created() {
            socket.on('chat_transfer', (data) => {
                this.chats.push({'message': data.text, 'type': 1,'by':data.by})
            })

            socket.on('typing', (username) => {
                this.isTyping = username;
            })

            socket.on('StopTyping', () => {
                this.isTyping = false;
            })
        },
        watch: {
            text(value) {
                value ? socket.emit('typing',this.userinfo.name) : socket.emit('StopTyping');
            }
        },
        methods: {
            sendSms() {
                if (this.text) {
                    this.chats.push({'message': this.text, 'type': 0,'by':'me'})
                    socket.emit('chat', {'text':this.text, 'by':this.userinfo.name})
                    this.text = '';
                }
            },
            setName(){
                this.userinfo.name = this.name;
                this.userinfo.type = 'joined';
                this.ready = true;
            }
        }
    });

    app.mount('#app')


</script>
</body>
</html>